.track-num {
    border: none;
    padding: 0px 10px;
    width: 275px;
    background-color: #f1f3f5;
    border-bottom: 1px solid #cbcbcb;
    padding-top: 15px;
    border-radius: 8px 8px 0px 0px;
    height: 60px;
    font-size: 16px;
}

.track-parcel-btn {
    margin: 20px 0px 30px;
    background-color: #3A7DD8;
    color: white;
    width: 280px;
    border-radius: 100px;
    filter: drop-shadow(-2px 2px 2px #cbcbcb);
    font-size: 20px;
}