.login-area{
    background-color: #F0FBFF;
    height: 100vh;
    /* vertical-align: middle; */
}

.login-main{
    filter: drop-shadow(0px 2px 3px #cbcbcb);
}

.login-input {
    width: 100%;
    margin: 10px 0px;
    border: none;
    padding: 0px 17px;
    padding-top: 17px;
    background-color: #f1f3f5;
    border-bottom: 2px solid #cbcbcb;
    border-radius: 8px 8px 0px 0px !important;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    /* font-family: arial, sans-serif; */
}

.login-input:focus{
    background-color: #f1f3f5;
    box-shadow: none !important;
    border-bottom: 2px solid #cbcbcb;
}

.log-in-btn {
    background-color: #3A7DD8;
    color: white;
    width: 97%;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.create-acc-btn {
    background-color: white;
    border: 3px solid #3A7DD8;
    color: #3A7DD8;
    width: 97%;
    font-size: 23px;
    border-radius: 25px;
    margin-bottom: 15px;
}
.create-acc-btn:hover{
    background-color: white;
    color: black;
}

.login-info {
    background-color: white;
    border-radius: 7px;
    padding: 10px 35px;
    filter: drop-shadow(0px 2px 3px #cbcbcb);
    text-align: center;
}

.login-div {
    width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}